<!DOCTYPE html>
<html>
  <head>
    <title>One Booking</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% for (var student of places) { %>
      <tr>
          <td><%= student.name %></td>
          
      </tr>
  <% } %>
    
    
    
  </body>
</html>